<section class="hero py-4">
    <div class="container mx-auto flex items-center justify-between px-16 my-4">
        <div>
            <h6 class="text-3xl py-2"><em>Are You hungry?</em></h6>
            <h1 class="text-6xl font-bold py-2">Don't Wait !</h1>
            <button class="px-6 py-2 text-white font-bold mt-4 btn-primary">Order now</button>
        </div>
        <div>
           <img src="/img/pizza1.jpeg" alt="no img" class="hw-500vh">
        </div>
    </div>
</section>
<section class="menu container mx-auto px-16 my-4">
    <h1 class="text-xl font-bold mb-8">All pizzas</h1>
    <!--wrapper for menu items-->
    <div class="grid grid-cols-4 gap-x-8 gap-y-10">

        <!--1-->
        <div class="w-64">

            <img class="h-40 mb-4 mx-auto" src="/img/margherita3.jpeg" alt="no img"/>

            <div class="text-center">
                <h2 class="mb-4 text-lg">Margherita</h2>
                <h2 class="mb-4 text-sm">A classic pizza with fresh mozzarella, tomatoes, and basil on a crisp crust.</h2>
                <span class="size py-1 px-4 uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹250</span>
                    <button class="add-to-cart py-1 px-6 flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>

        </div>

         <!--2-->

        <div class="w-64">

            <img class="h-40 mb-4 mx-auto" src="/img/veggie_supreme.jpeg" alt="no img"/>

            <div class="text-center">
                <h2 class="mb-4 text-lg">Veggie supreme</h2>
                <h2 class="mb-4 text-sm">Loaded with a variety of garden-fresh vegetables for a colorful and hearty bite.</h2>
                <span class="size py-1 px-4 uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹300</span>
                    <button class="add-to-cart py-1 px-6 flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>

        </div>


        <!--3-->
        <div class="w-64">

            <img class="h-40 mb-4 mx-auto" src="/img/garden_fresh.jpeg" alt="no img"/>

            <div class="text-center">
                <h2 class="mb-4 text-lg">Garden fresh</h2>
                <h2 class="mb-4 text-sm">Bursting with spinach, broccoli, tomatoes, and mushrooms for a healthy, fresh option.</h2>
                <span class="size py-1 px-4 uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹325</span>
                    <button class="add-to-cart py-1 px-6 flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>

        </div>


         <!--4-->
        <div class="w-64">

            <img class="h-40 mb-4 mx-auto" src="/img/spinach_feta.jpeg" alt="no img"/>

            <div class="text-center">
                <h2 class="mb-4 text-lg">Spinach feta</h2>
                <h2 class="mb-4 text-sm">A Mediterranean-inspired pizza with tender spinach and creamy feta cheese.</h2>
                <span class="size py-1 px-4 uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹360</span>
                    <button class="add-to-cart py-1 px-6 flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>

        </div>


         <!--5-->
        <div class="w-64">

            <img class="h-40 mb-4 mx-auto" src="/img/paneer_tikka2.jpeg" alt="no img"/>

            <div class="text-center">
                <h2 class="mb-4 text-lg">Paneer tikka</h2>
                <h2 class="mb-4 text-sm">A fusion of Indian flavors featuring marinated paneer tikka and spicy toppings.</h2>
                <span class="size py-1 px-4 uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹380</span>
                    <button class="add-to-cart py-1 px-6 flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>

        </div>


         <!--6-->
        <div class="w-64">

            <img class="h-40 mb-4 mx-auto" src="/img/four_cheese.jpeg" alt="no img"/>

            <div class="text-center">
                <h2 class="mb-4 text-lg">Four cheese</h2>
                <h2 class="mb-4 text-sm">A rich blend of mozzarella, cheddar, parmesan, and gorgonzola for cheese lovers.</h2>
                <span class="size py-1 px-4 uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹400</span>
                    <button class="add-to-cart py-1 px-6 flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>

        </div>


         <!--7-->
        <div class="w-64">

            <img class="h-40 mb-4 mx-auto" src="/img/pesto_veggie.jpeg" alt="no img"/>

            <div class="text-center">
                <h2 class="mb-4 text-lg">Pesto veggie</h2>
                <h2 class="mb-4 text-sm">Topped with basil pesto and a mix of artichokes, sun-dried tomatoes, and mozzarella.</h2>
                <span class="size py-1 px-4 uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹375</span>
                    <button class="add-to-cart py-1 px-6 flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>

        </div>


         <!--8-->
        <div class="w-64">

            <img class="h-40 mb-4 mx-auto" src="/img/farmhouse_pizza.jpeg" alt="no img"/>

            <div class="text-center">
                <h2 class="mb-4 text-lg">Farmhouse pizza</h2>
                <h2 class="mb-4 text-sm">A rustic pizza with corn, mushrooms, bell peppers, and onions on a robust tomato base.</h2>
                <span class="size py-1 px-4 uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹340</span>
                    <button class="add-to-cart py-1 px-6 flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>

        </div>



        
         <!--9-->
         <div class="w-64">

            <img class="h-40 mb-4 mx-auto" src="/img/potato_rosemary.jpeg" alt="no img"/>

            <div class="text-center">
                <h2 class="mb-4 text-lg">Potato rosemary pizza</h2>
                <h2 class="mb-4 text-sm">Thinly sliced roasted potatoes and rosemary on a creamy cheese base for a fragrant, savory treat.</h2>
                <span class="size py-1 px-4 uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹320</span>
                    <button class="add-to-cart py-1 px-6 flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>

        </div>



        
         <!--10-->
         <div class="w-64">

            <img class="h-40 mb-4 mx-auto" src="/img/bbq_veggie.jpeg" alt="no img"/>

            <div class="text-center">
                <h2 class="mb-4 text-lg">BBQ veggie pizza</h2>
                <h2 class="mb-4 text-sm">Smoky barbecue sauce topped with grilled vegetables and red onions for a zesty kick.</h2>
                <span class="size py-1 px-4 uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹395</span>
                    <button class="add-to-cart py-1 px-6 flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>

        </div>


        
    <!--11-->
         <div class="w-64">

            <img class="h-40 mb-4 mx-auto" src="/img/greek_pizza.jpeg" alt="no img"/>

            <div class="text-center">
                <h2 class="mb-4 text-lg">Greek pizza</h2>
                <h2 class="mb-4 text-sm">A Mediterranean mix of olives, feta cheese, tomatoes, and red onions with oregano.</h2>
                <span class="size py-1 px-4 uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹370</span>
                    <button class="add-to-cart py-1 px-6 flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>

        </div>




            
         <!--12-->
        <div class="w-64">

            <img class="h-40 mb-4 mx-auto" src="/img/roasted_veggie.jpeg" alt="no img"/>

            <div class="text-center">
                <h2 class="mb-4 text-lg">Roasted veggie pizza</h2>
                <h2 class="mb-4 text-sm">Features oven-roasted zucchini, bell peppers, eggplant, and onions for deep, savory flavors.</h2>
                <span class="size py-1 px-4 uppercase text-xs">small</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹390</span>
                    <button class="add-to-cart py-1 px-6 flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>

        </div>

    </div>
</section>