<!-- <section class="orders light-section w-full ml-10 lg:mx-16">
  <div class="container mx-3 lg:mx-auto pt-8">
    <h1 class="font-bold text-lg mb-4">All Orders</h1>
    <!- <% if(messages.success) { %> -->
        <!-- <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3" role="alert"> --> -->

    <!-- img -->
    <!-- <p><%= message.success %></p>
        </div>
        <% } %> -->
    <!-- <table class="w-full table-auto bg-white">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Orders</th>
          <th class="px-4 py-2 text-left">Customer</th>
          <th class="px-4 py-2 text-left">Address</th>
          <th class="px-4 py-2 text-left">Status</th>
          <th class="px-4 py-2 text-left">Placed At</th>
        </tr>
      </thead>
      <tbody id="orderTableBody">
       
      </tbody>
    </table>
  </div>
</section> --> 





<section class="orders light-section ml-4 lg:ml-10 xl:mx-16">
  <div class="container mx-2 md:mx-4 lg:mx-auto pt-8">
    <h1 class="font-bold text-lg mb-4 text-center lg:text-left">All Orders</h1>
    <!-- Success message block -->
    <!-- <% if(messages.success) { %>
        <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3" role="alert"> -->
    <!-- img -->
    <!-- <p><%= message.success %></p>
        </div>
        <% } %> -->
    <div class="overflow-x-auto">
      <table class="min-w-full table-auto bg-white">
        <thead>
          <tr class="bg-gray-100">
            <th class="pl-2 py-2 text-left text-xs md:text-sm lg:text-base">Orders</th>
            <th class="pl-4 py-2 text-left text-xs md:text-sm lg:text-base">Customer</th>
            <th class="pl-4 py-2 text-left text-xs md:text-sm lg:text-base">Address</th>
            <th class="pl-4 py-2 text-left text-xs md:text-sm lg:text-base">Status</th>
            <th class="pl-4 py-2 text-left text-xs md:text-sm lg:text-base">Placed At</th>
            <th class="pl-1 py-2 text-left text-xs md:text-sm lg:text-base xl:pl-1">Payment Status</th>
          </tr>
        </thead>
        <tbody id="orderTableBody" class="items-center justify-center">
          <!-- Your dynamic rows will go here -->
        </tbody>
      </table>
    </div>
  </div>
</section>

