$primary:#FE5F1E;
$primary-hover:#b23301;
$secondary:#F8F8F8;
$pure:#fff;
$dark:#232323;
$gray:#ccc;
$maroon:#800000;
$khakhi:#c3b091;
$khakhi2:#b3a07f;
$khakhi3:#a3926d;
$darkcreme:#9c7248;
$lightcreme:#b09a7b;
$darkcreme-hover:#8a5e3e;
$lightbeige:#d4bda4;
$darkcreme2:#8a5e3e;
$darkcreme3:#f4e9d2;
$lightkhakhi:#e0caa6;
$lightkhakhi2:#f5e7d0;

//transition

$smooth:all .2s ease-in-out;